* {
    box-sizing: border-box;
}

/*Ez később átírásra kerül*/
img {
    margin: .3rem;
}

.datas {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.game-table {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gamefield {
    margin: 0 auto;
    width: 75%;
    height: 350px;
    /* border: 1px solid black;
    background-color: #A0522D; */
}

.players-area {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #35654D;
}

.player-h2 {
    display: flex;
    justify-content: center;
}

.inside-table {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: .5rem;
    /* background-color: black; */
    width: 800px;
    height: 340px;
}

.computer-card {
    border: 2px solid red;
    border-radius: 12px;
}

/* .computer-display {
    display: none;
} */