* {
    box-sizing: border-box;
}

.datas {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.game-table {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inside-table {
    margin: 1rem;
}